name: Deploy

on:
    workflow_call:
      inputs:
        environment:
          description: 'This is the name of the GitHub environment in Settings'
          required: true
          type: string
        integrationBranch:
            description: 'Branch used to track changes to environment'
            type: string
        from:
          description: 'This is the value used in the --from parameter of sfdx-git-delta'
          required: true
          type: string
        to:
          description: 'This is the value used in the --to parameter of sfdx-git-delta'
          required: true
          type: string
        dryRun:
          description: 'This is the value used in the --dry-run parameter of sf project deploy start'
          type: boolean
        testLevel:
          description: 'This is the value used in the --test-level parameter of sf project deploy start'
          type: string
          default: 'RunLocalTests'

permissions:
  contents: write

jobs:
    Start:
        runs-on: ubuntu-latest
        environment: 
          name: ${{ inputs.environment }}
          url: ${{ format('{0}/lightning/setup/DeployStatus/page?address=%2Fchangemgmt%2FmonitorDeploymentsDetails.apexp%3FasyncId%3D{1}%26retURL%3D%252Fchangemgmt%252FmonitorDeployment.apexp', vars.INSTANCE_URL, steps.deploy.outputs.ID) }}

        steps:
            - name: Checkout Source
              uses: actions/checkout@v4
              with:
                path: source
                fetch-depth: 0

            - name: Checkout Tooling
              uses: actions/checkout@v4
              with:
                repository: keyloop-internal/salesforce-devops
                path: tools
                token: ${{ secrets.DEVOPS_PAT }}

            - name: Merge to Integration Branch
              if: ${{ inputs.integrationBranch }} != ''
              working-directory: source
              id: merge
              shell: pwsh
              run: |

                #Configure Git User first
                git config --global user.name '${{ github.triggering_actor}}'
                git config --global user.email '${{ github.actor_id }}@users.noreply.github.com'

                #Fetch all the branches
                git fetch --all

                #Switch to the integration branch
                git checkout ${{ inputs.integrationBranch }}

                Write-Host "git diff origin/${{ github.head_ref }}"
                # Check for pending changes
                if (git diff origin/${{ github.head_ref }}) {

                  Write-Output "Differences Detected. Proceeding with merge..."
                  echo "CONTAINS_CHANGES=True" >> $env:GITHUB_OUTPUT

                  #Merge the changes into the integration branch
                  Write-Host "git merge origin/${{ github.head_ref }} --no-edit --no-ff"
                  git merge origin/${{ github.head_ref }} --no-edit --no-ff

                } else {
                    Write-Output "No changes detected. Integration branch is already up to date."
                    echo "CONTAINS_CHANGES=False" >> $env:GITHUB_OUTPUT
                }

            - name: Install Salesforce CLI
              if: steps.merge.outputs.CONTAINS_CHANGES == 'True'
              run: npm install @salesforce/cli --global

            - name: Install sfdx-git-delta
              if: steps.merge.outputs.CONTAINS_CHANGES == 'True'
              run: echo y | sf plugins install sfdx-git-delta

            - name: Generate Delta
              if: steps.merge.outputs.CONTAINS_CHANGES == 'True'
              id: delta
              working-directory: source
              shell: pwsh
              run: |
                ../tools/.github/workflows/scripts/generate-manifests.ps1 `
                    -from ${{ inputs.from }} `
                    -to ${{ inputs.to }}

                ../tools/.github/workflows/scripts/check-empty-manifests.ps1 `

            - name: Test Class Calculator
              if: steps.merge.outputs.CONTAINS_CHANGES == 'True'
              shell: pwsh
              working-directory: source
              run: |
                ##Debugs
                Get-Content package/package.xml
                Write-Host "Run ID: ${{ github.run_id }}"
                ../tools/.github/workflows/scripts/test-class-calculator.ps1 `
                    -manifest package/package.xml `
                    -outputFile "${{ github.run_id }}-testsuite-meta.xml"

            - name: Authenticate
              if: steps.delta.outputs.CONTAINS_METADATA == 'True'
              run: |
                echo "${{ secrets.AUTH_URL }}" > sfdx-auth-url.txt
                sf org login sfdx-url --sfdx-url-file sfdx-auth-url.txt --set-default --alias ${{ inputs.environment }}

            - name: Deploy Delta
              if: steps.delta.outputs.CONTAINS_METADATA == 'True'
              id: deploy
              working-directory: source
              shell: pwsh
              run: |
                Write-Output "::group::Executing Delta Deployment"

                $testSuiteFile = ('${{ inputs.testLevel }}' -eq 'RunSpecifiedTests') ? '${{ github.run_id }}-testsuite-meta.xml' : $null

                ../tools/.github/workflows/scripts/deploy-delta.ps1 `
                    -alias '${{ inputs.environment }}' `
                    -dryRun '${{ inputs.dryRun }}' `
                    -testLevel '${{ inputs.testLevel }}' `
                    -testSuiteFile $testSuiteFile

                Write-Output "::endgroup::"
              env:
                DEPLOY_DESTINATION: ${{ inputs.environment }}

            - name: Commit Changes to Integration Branch
              if: ${{ inputs.integrationBranch != 'main' }}
              working-directory: source
              shell: pwsh
              run: |
                git add .
                git commit -m "Merge of branch ${{ github.head_ref }} into ${{ inputs.integrationBranch }}"
                git push origin ${{ inputs.integrationBranch }}
